# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
workers/node_modules
workers/dist
workers/drais-relay.config.json
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.vercel
cookies.txt

# Ignore large files
.next/cache/webpack/server-production/*.pack
workers/dist-gui/linux-unpacked/drais-relay
workers/dist-gui/DRAIS Relay-2.0.0.AppImage
workers/dist-gui/win-unpacked/DRAIS Relay.exe
workers/dist/DRAIS-Relay-Windows.zip

# Ignore relay installers
/BACKUP/RELAY-INSTALLERS/*
*.zip
